* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.blurred-layer {
  height: 100%;
  width: 100%;
  background: linear-gradient(
    to bottom,
    transparent,
    transparent,
    rgb(17, 0, 0)
  );
}

.guide:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 600px) {
  .search-create-box {
    flex-direction: column;
    gap: 20px;
  }
}
